.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  padding-bottom: 0;
  top: 0;
  margin: 0 auto;
  width: 1670px;
  background: var(--background);
  z-index: 1000;
  border: 1px solid var(--dark-12);
}

.logo {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color:#fff;
  padding-bottom: 25px;
}

.navContainer {
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  border-left: 1px solid var(--dark-12);
  border-right: 1px solid var(--dark-12);
  border-top: 1px solid var(--dark-12);
  overflow: hidden;
}

.nav {
  display: flex;
  flex: 1;
}

.nav a {
  border: 1px solid var(--dark-12);
  padding: 30px 40px;
  width: 150px;
  height: 87px;
  flex: 1;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.nav a:nth-child(2) {
text-wrap: nowrap;
}


.nav a:hover {
  background-color: #1c1c21;
  color: white;
}

.contactButton {
  border-radius: 10px;
  padding: 16px 24px;
  margin-bottom: 25px;
  width: 148px;
  height: 59px;
  background-color: #1c1c21;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.contactButton:hover {
  background-color: #2f2f37;
  color: white;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
